<div class="container">
  <h2>Area Rectangulo</h2>
  <h4>Ingrese la base</h4>
  <input type="number" [(ngModel)]="base" />
  <h4>Ingrese la altura</h4>
  <input type="number" [(ngModel)]="altura" />
  <button type="button" class="btn btn-outline-primary" (click)="calcularRectangulo()">Calcular</button>
  <h4>Area={{total}}</h4>
  <h2>Fibonacci</h2>
  <h4>Ingrese un numero para calcular el serie de fibonacci</h4>
  <input type="number" [(ngModel)]="numero" (keyup)="calcularFibonacci()" />
  <h4>EL ultimono numero de la serie es={{total1}}</h4>
</div>